p.berry {
    text-align: center;
    font-size: 500%;
    
}
.float {
    
    display: block;
    text-align: center;
}
figcaption {
    font-weight: bold;
}
table {
    width: 400px;
    height: 600px;
    margin-left:auto; 
    margin-right:auto;
    border-bottom-color: black;
    
}

td {
    border-top: 1px solid black;
   
    text-align:center;
}
td::first-line {
    
    font-weight: bold;
    font-style: normal;
    
}
td{
    font-style: italic;
}
.first{
    
    background-color: #98AFC7;
    
}
.second {
    background-color: #FAEBD7;
    
}
.third{
    background-color: #C36241;
    
}