html {
    
    /* A gradient from left to right */
    /*background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);*/
    -webkit-font-smoothing: antialiased;
}
table.com {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    
}
table.com caption {
    font-weight: bold;
    font-size: 150%;
    border: 1px solid black;
}
table.com tr:nth-child(even){
    background-color: #f2f2f2;
    
}

table.com th {
    background-color: red;
    color: white;
    text-align: left;
    padding: 8px;
}
table.com th:first-child, td:first-child{
    border-right: 1px solid gray;
}

table.com td {
    text-align: left;
    padding: 8px;
}

ul.a {
    text-indent:50px;
    
}
ul.a li{
    color: blue;
}
p.a {
    text-indent: 50px;
}
