html {
    
    -webkit-font-smoothing: antialiased;
}

ul.a {
    text-indent:50px;
    border-style: solid;
    border-color: red;
}
ul.a li{
    color: blue;
}
p.a {
    text-indent: 50px;
}
figcaption.a {
    font-size:80%;
    font-weight:bold;
}
p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}